.root {
    -fx-background-color: #f9f9f9;
    -fx-font-family: "Consolas";
}

.top-bar {
    -fx-background-color: white;
    -fx-padding: 10 20 10 20;
    -fx-border-color: #ddd;
    -fx-border-width: 0 0 1 0;
}

.page-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.back-button {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-padding: 5 15;
}
.back-button:hover {
    -fx-background-color: #f0f0f0;
}
